body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}
h1{
    font-size: 60px;
    line-height: 30px;
    
}
.blue-color{
    color: royalblue;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 70%;
    padding-top: 5%;
}
.link-button{
    text-decoration: none;
    background-color: royalblue;
    padding: 10px 40px;
    border-radius: 5px;
    color: seashell;
    font-weight: 700;
    line-height: 50px;
}
p{
    line-height: 30px;
    font-weight: 700;
}
#border{
    border-left: 5px solid coral;
    padding-left: 2%;
    height: 23%;
}
#mission-center{
    text-align: center;
}
.illustrator img{
    width: 30%;
}
.box1{
  width: 300px;
  background-image: linear-gradient(rgb(235, 192, 198),rgb(181, 209, 165));
  padding: 50px;
  margin: 20px;
}
.box2{
    width: 300px;
    background-image: linear-gradient(rgb(155, 155, 243),lightblue);
    padding: 50px;
    margin: 20px;
}

.box3{
    width: 300px;
    background-image: linear-gradient(rgb(238, 238, 130),rgb(238, 238, 194));
    padding: 50px;
    margin: 20px;
}
  #font-size{
    font-size: 40px;
    line-height: 30px;
    font-weight: bold;

  }
  .comment{
      padding-left: 5%;
  }
  .About-us{
    padding-left: 5%;
  }
  input{
      size: 50px;
  }
  
    footer{
      text-align: center;
      color: ivory;
      background-color: black;
  }